# Task 1 : Variables and Data Types

In [1]:
# a
age = 26
na_str = 'Khansa Abdul Ghafoor'
student = True
print (age)
print (na_str)
print ("I am a student:", student)

26
Khansa Abdul Ghafoor
I am a student: True

In [2]:
# b 

age = age +25

na_str = na_str + ' Smith'


print (age)

print (na_str)


student = True 

if student == True:
    student = False 
    print ('I am   not a student')
    
else: 
    student = True 
    print ('I am a student')

51
Khansa Abdul Ghafoor Smith
I am   not a student

# Task 2: Expressions and Operators

In [4]:
# a

rectangle  = 5.5 
height     = 3.25

area = rectangle * height

print ('The area is:', area)

The area is: 17.875

In [7]:
# b 

Temp_Celsicus = 45 
Temp_Fahrenheit = (Temp_Celsicus * 9/5) + 32

print ('Temperature in Fahrenheit is:', Temp_Fahrenheit)

Temperature in Fahrenheit is: 113.0

In [8]:
# c
radius = 5 
area = 3.14159*5**2

print ('Area of a circle is:', area)

or 
# radius = 5 
# pie = 3.14159
# area = pie*radius**2
# print ('Area of a circle is:', area)

Area of a circle is: 78.53975

# Task 3: Introduction to Data Structures

In [9]:
#a

fruits = ['apple', 'banana', 'orange', 'grape', 'kiwi']
print (fruits)

['apple', 'banana', 'orange', 'grape', 'kiwi']

In [14]:
# b

months_tup = ('Jan', 'Feb', 'Mar')
print (months_tup)

('Jan', 'Feb', 'Mar')

# Task 4 : List Manipulation

In [18]:
# a

numbers = [12, 34, 45, 67, 89, 100, 23, 56]
sum_numbers = sum(numbers)
average_numbers = sum_numbers/8

print ('The sum of numbers are:',sum_numbers)
print ('The average of numbers are:', average_numbers)

The sum of numbers are: 426
The average of numbers are: 53.25

In [25]:
# B 
fruits = ['apple', 'banana', 'orange', 'grape', 'kiwi']

fruits.remove ('banana')
fruits.remove ('kiwi')

print(fruits)

# I assued that first element means 1 so in list numbering starts from 0 so I taken 1 which is banana

['apple', 'orange', 'grape']